body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    /* Updated color */
    color: hotpink; 
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    /* Updated border */
    border-bottom: 10px dotted purple; 
}

h2 {
    font-size: 1.5em;
     /* Makes h2 italic */
    font-style: italic;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

ul {
    /* Background color for contact list */
    background-color: #eeeeee; 
    /* Border for ul */
    border: 5px solid purple;
    /* Padding for spacing */
    padding: 10px; 
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    /* Green on hover */
    color: green; 
    text-decoration: none;
}
